body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

.header  {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 100px;
}

